.s{
  color:blueviolet;
  width:700px;
  text-align: center;
  display:inline-block;
}
.m{
  width:500px;
  text-align:center;
}
.x{
  font-family: 'Times New Roman', Times, serif;
}
.n{
  background-color:lightblue;
}
.f{
  width:100%;
  text-align: center;
}